header  {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(180, 118, 231);
    color: rgb(63, 9, 74);
    width: 100%;
}

.container { 
    margin-bottom: 10rem;
    margin-left: 1.75rem;

}


footer {
    font-family: 'Raleway', sans-serif;
    color: rgb(63, 9, 74);
    width: 100%;
    position: fixed;
    bottom: 0px;

}

